.circular { 
  width: 70px; 
  height: 70px; 
  border-radius: 50%;
  border: 1px solid black;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/User_with_smile.svg/200px-User_with_smile.svg.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.data-user {
  display: inline-block;
}

.data-user p {
  line-height: 8px;
}

nav {
    border-bottom: 1.5px solid #EBEBEF;
    width: 100vw;
}