.bg {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.nav-logo {
  border-bottom: 1px solid #f8f9fa;
  background-color: white;
  box-shadow: 0px 15px 10px -15px #111;    
}

.bg-image {
  background-image: url(https://thumb.ibb.co/h7gzZx/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-welcome {
  color: #9BAE0C;
}

.box-form {
  border:  2px solid #f8f9fa;
  padding: 50px; 
}

.bg-btn {
  background-color: #9BAE0C;
  border: none;
}