.bg {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.bg-image {
  background-image: url(https://thumb.ibb.co/h7gzZx/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

