<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div class="container-fluid">
                <h5>Resumen</h5>
                <button type="button" class="btn btn-success">Crear Proyecto</button>
                <button type="button" class="btn btn-success">Registarar Colaborador</button>
                <h6>Mi actividad</h6>
                <div class="row">
                    <div class="col">
                        <img src="">
                        <h5>Proyecto Yape</h5>
                        <p>70%</p>
                    </div>
                    <div class="col">
                        <img src="">
                        <h5>Proyecto Smartapp</h5>
                        <p>70%</p>
                    </div>
                    <div class="col">
                        <img src="">
                        <h5>Proyecto Website</h5>
                        <p>70%</p>
                    </div>
                </div> 
                <h6>Noticias</h6>
                <div class="card border-0">
                        <div class="card-body p-3 pb-2 border rounded">
                          <span class="card-text">Almuerzo: Cumpleaños de Ana</span>
                        </div>
                        <div class="card-body p-3 pt-1 ">
                          <span>Comentar</span><span class="mx-2"><span class="lnr lnr-bubble"></span></span><span class=""><span class="lnr lnr-heart"></span></span>
                          <span class="float-right">Publicado por Floricienta</span>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-5">

        </div>
    </div>
</div>