<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <h3 class="project-title">Mis Proyectos</h3>
        <div class="background-white box">
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <img class="logo-business" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/BCP.svg/1200px-BCP.svg.png" alt="logo">
                  <h5 class="card-title">Proyecto</h5>
                      <p class="projectToWork"><span class="lnr lnr-briefcase"></span>Banca Online</p>
                 </div>
               </div>
             </div>
              <div class="col-6">
                <div class="">
                  <div class="card-body">
                    <p class="business-date"><span class="black-letter">Direccion:</span> Centenario 165 La Molina</p>
                    <p class="business-date"><span class="black-letter">Horario de apertura:</span>  9:00am-6:00pm</p>
                    <p class="business-date"><span class="black-letter">Business Partner:</span></p>
                    <p class="business-date">rositachavez@everis.pe</p>
                     <p class="business-date"><span class="black-letter">Cel.</span> 999999999</p>
                   </div>
                 </div>
               </div>
              </div>
            </div>
        </div>
        <div class="col-5">
            <h6 class="p-2 my-3 font-weight-bold">Staff Overview</h6>
            <div class="card">
                    <div class="card-body row">
                      <div class="col-3">
                          <img  height="50" src="" alt="">
                      </div>
                      <div class="col-6">

                      </div>
                      <div class="col-3"></div>
                    </div>
                    <div class="card-body row">
                      <a href="#" class="card-link col text-center">Card link</a>
                      <a href="#" class="card-link col text-center">Another link</a>
                    </div>
            </div>
        </div>
    </div>
</div>